<div class="container text-center mt-5">
    <form action="/fotos/findAllbyRate/view" method="GET">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" name="lower" class="form-control" placeholder="Lower Rate" aria-label="Lower Rate">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" name="higher" class="form-control" placeholder="Higher Rate" aria-label="Higher Rate">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
